# Environments
.venv/
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
Backend/__pycache__/
backend/__pycache__/

# Node
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs/Editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
